* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #000000;
  --gradient-color-2: #4a4a4a;
  --gradient-color-3: #383838;
  --gradient-color-4: #4c4c4c;
  z-index: 0;
}

.main_content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255 255 255 / 4%);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.912);
    box-shadow: 15px 18px 12px rgba(0, 0, 0, 0.577);
    position: absolute;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-size: 20px;
    font-family: sans-serif;
    padding: 30px 40px;
    line-height: 1.4;
}
.confirm_box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255 255 255 / 2%);
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.912);
    box-shadow: 15px 18px 12px rgba(0, 0, 0, 0.577);
    position: absolute;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-size: 20px;
    font-family: sans-serif;
    padding: 30px 40px;
    line-height: 1.4;
}
@media (max-width: 767px) {
    .content_max{
        min-width: 100vw;
        min-height: 100vh;
    }
}